@charset "UTF-8";
button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #FFF;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(42, 42, 42);
  margin: 0;
}

span {
  display: block;
}

.leftArrow {
  transform: scaleX(-1);
}

header {
  padding: 80px 150px 0 150px;
  margin-bottom: 60px;
}
header div {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
  color: #FFF;
  font-size: 24px;
  font-weight: bold;
}
header div a img {
  width: 44px;
  height: 44px;
}

.HeroSection {
  background: url(../src/assets/housebackground.jpg) no-repeat center;
  background-size: cover;
  padding-bottom: 100px;
  margin-bottom: 0;
}
.HeroSection .mainInfo {
  padding: 0 150px;
}
.HeroSection .mainInfo h1 {
  color: #FFF;
  font-weight: bolder;
  font-size: 56px;
  margin-bottom: 50px;
  max-width: 50vw;
  line-height: 1.3;
}
.HeroSection .mainInfo .propertyDetails {
  display: flex;
  gap: 50px;
  margin-bottom: 50px;
}
.HeroSection .mainInfo .propertyDetails .characteristic {
  color: #FFF;
  display: flex;
  gap: 12px;
  flex-direction: column;
}
.HeroSection .mainInfo .propertyDetails .characteristic .value {
  font-size: 24px;
  font-weight: bold;
}
.HeroSection .mainInfo .propertyDetails .characteristic .detail {
  font-size: 16px;
}
.HeroSection .mainInfo .propertyHighlights {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 50vw;
  gap: 10px;
  margin-bottom: 60px;
}
.HeroSection .mainInfo .propertyHighlights .highlight {
  background-color: #F2F2F2;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px;
  border-radius: 4px;
}
.HeroSection .mainInfo .ActionPanel {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.HeroSection .mainInfo .ActionPanel .mapBtn {
  display: flex;
  background-color: #2489FF;
  border: none;
  padding: 5px 20px 5px 5px;
  border-radius: 25px;
  align-items: center;
  gap: 20px;
  color: #FFF;
  font-size: 16px;
}
.HeroSection .mainInfo .ActionPanel .mapBtn div {
  background-color: #FFF;
  padding: 10px;
  border-radius: 100%;
}
.HeroSection .mainInfo .ActionPanel .moreAboutObject {
  background: none;
  border: none;
  color: #FFF;
  font-size: 16px;
}

.PhotosSection {
  padding: 50px 150px 0 150px;
  background-color: #FFFFFF;
}
.PhotosSection h3 {
  font-weight: bolder;
  font-size: 36px;
  margin-top: 0px;
  margin-bottom: 30px;
}
.PhotosSection .container-b {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.PhotosSection .container-b .container-m {
  display: flex;
  gap: 15px;
}
.PhotosSection .container-b .container-m .child img {
  max-height: 615px;
}
.PhotosSection .container-b .container-m .container-s {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.PhotosSection .container-b .container-m .container-s .child img {
  max-height: 300px;
}
.PhotosSection .container-b .container-m-bottom {
  position: relative;
}
.PhotosSection .container-b .container-m-bottom .carouselOfText {
  position: absolute;
  bottom: 0;
  left: 0;
}
.PhotosSection .morePhotos {
  display: block;
  color: #35465E;
  font-size: 18px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  background: none;
  border: 0;
  padding: 50px 0;
}
.PhotosSection .textSlide {
  background-color: #FFF;
  width: 30vw;
  padding: 30px;
  border-radius: 5px 5px 5px 0;
  box-shadow: -10px 10px 5px 0px rgba(116, 116, 116, 0.1);
}
.PhotosSection .textSlide .slideHeading {
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 30px;
  color: #35465E;
}
.PhotosSection .textSlide .slideDescription {
  font-size: 16px;
  color: #35465E;
  margin-bottom: 30px;
  line-height: 1.5;
}
.PhotosSection .textSlide .sliderButtons {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #35465E;
  font-size: 16px;
  font-weight: bolder;
}
.PhotosSection .textSlide .sliderButtons button {
  background: none;
  border: 0;
}
.PhotosSection .photosSlider {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 700px;
  z-index: 10;
}
.PhotosSection .photosSlider button {
  height: -moz-fit-content;
  height: fit-content;
  background: none;
  border: 0;
  background-color: #a8a8a8;
  border-radius: 5px;
  max-width: 80px;
  display: flex;
  justify-content: center;
  padding: 15px;
}
.PhotosSection .photosSlider img {
  max-height: 800px;
  margin-right: 40px;
  margin-left: 40px;
}
.PhotosSection .overlay {
  position: fixed;
  width: 100%; /* Покрывает полную ширину экрана */
  height: 100%; /* Покрывает полную высоту экрана */
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный черный цвет */
  z-index: 9; /* Ниже чем .photosSlider, но выше остального контента */
}
.PhotosSection .overlay .closeBtn {
  position: absolute;
  top: 10px;
  right: 50px;
  background: none;
  border: none;
}

@media (max-width: 1700px) {
  .PhotosSection .container-b .container-m .child img {
    max-height: 515px;
  }
  .PhotosSection .container-b .container-m .container-s .child img {
    max-height: 250px;
  }
}
@media (max-width: 1400px) {
  .PhotosSection .container-b .container-m .child img {
    max-height: 415px;
  }
  .PhotosSection .container-b .container-m .container-s .child img {
    max-height: 200px;
  }
}
@media (max-width: 1200px) {
  .PhotosSection {
    padding: 50px 80px 0 80px;
  }
  .PhotosSection .container-b .container-m .child img {
    max-height: 315px;
  }
  .PhotosSection .container-b .container-m .container-s .child img {
    max-height: 150px;
  }
  .PhotosSection .photosSlider img {
    max-height: 700px;
  }
  header {
    padding: 80px 80px 0 80px;
    margin-bottom: 60px;
  }
  header div {
    gap: 10px;
  }
  header div a img {
    width: 33px;
    height: 33px;
  }
  .HeroSection .mainInfo {
    padding: 0 80px;
  }
  .HeroSection .mainInfo h1 {
    font-size: 44px;
  }
  .HeroSection .mainInfo .propertyHighlights {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 80vw;
  }
}
@media (max-width: 900px) {
  .PhotosSection .container-b .container-m .child img {
    max-height: 280px;
  }
  .PhotosSection .container-b .container-m .container-s .child img {
    max-height: 130px;
  }
  .PhotosSection .photosSlider img {
    max-height: 600px;
  }
}
@media (max-width: 800px) {
  .PhotosSection .container-b .container-m .child img {
    max-height: 300px;
  }
  .PhotosSection .container-b .container-m .container-s {
    display: none;
  }
  .PhotosSection .textSlide {
    width: 90%;
    box-sizing: border-box;
  }
  .PhotosSection .textSlide .slideHeading {
    margin-bottom: 30px;
  }
  .PhotosSection .textSlide .slideDescription {
    margin-bottom: 30px;
  }
  .PhotosSection .photosSlider img {
    max-height: 550px;
  }
  .PhotosSection .photosSlider button {
    max-width: 80px;
    padding: 10px;
  }
  header {
    padding: 80px 80px 0 80px;
    margin-bottom: 30px;
  }
  .HeroSection .mainInfo {
    padding: 0 80px;
  }
  .HeroSection .mainInfo h1 {
    font-size: 44px;
    max-width: 90vw;
  }
  .HeroSection .mainInfo .propertyDetails {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 50px;
  }
  .HeroSection .mainInfo .propertyDetails .characteristic {
    gap: 8px;
  }
  .HeroSection .mainInfo .propertyHighlights {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 80vw;
  }
}
@media (max-width: 700px) {
  .photosSlider img {
    max-height: 480px !important;
    margin-right: 20px !important;
    margin-left: 20px !important;
  }
  .photosSlider button {
    max-width: 60px !important;
    padding: 0px;
  }
  header {
    padding: 80px 30px 0 30px;
  }
  .HeroSection .mainInfo {
    padding: 0 30px;
  }
  .HeroSection .mainInfo .propertyHighlights {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 90vw;
  }
}
@media (max-width: 600px) {
  .PhotosSection {
    padding: 50px 30px 0 30px;
  }
  .PhotosSection .container-b .container-m .child img {
    max-height: 250px;
  }
  .PhotosSection .textSlide {
    width: 90%;
    box-sizing: border-box;
  }
  .PhotosSection .photosSlider img {
    max-height: 430px !important;
    margin-right: 8px !important;
    margin-left: 8px !important;
  }
  .PhotosSection .photosSlider button {
    max-width: 45px !important;
    padding: 8px;
  }
  header {
    padding: 20px 30px 0 30px;
  }
  .HeroSection {
    height: -moz-fit-content;
    height: fit-content;
  }
  .HeroSection .mainInfo {
    padding: 0 30px;
  }
  .HeroSection .mainInfo .propertyHighlights {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 90vw;
  }
  .HeroSection .mainInfo h1 {
    font-size: 32px;
    max-width: 90vw;
    margin-bottom: 20px;
  }
  .HeroSection .mainInfo .propertyDetails {
    margin-bottom: 30px;
  }
  .HeroSection .mainInfo .propertyDetails .characteristic {
    gap: 8px;
  }
  .HeroSection .mainInfo .ActionPanel {
    flex-direction: column;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    gap: 20px;
  }
}/*# sourceMappingURL=styles.css.map */