button{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #FFF;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(42, 42, 42);
    margin: 0;
}
span{
    display: block;
}
.leftArrow{
    transform: scaleX(-1);
}



header{
    padding: 80px 150px 0 150px;
    margin-bottom: 60px;
    div{
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 20px;
        color: #FFF;
        font-size: 24px;
        font-weight: bold;
        a{
            img{
                width: 44px;
                height: 44px;
            }
        }
    }
}

.HeroSection{
    background: url(../src/assets/housebackground.jpg) no-repeat center;
    background-size: cover;
    padding-bottom: 100px;
    margin-bottom: 0;
    .mainInfo {
        padding: 0 150px;
        h1{
            color: #FFF;
            font-weight: bolder;
            font-size: 56px;
            margin-bottom: 50px;
            max-width: 50vw;
            line-height: 1.3;
        }
        .propertyDetails{
            display: flex;
            gap: 50px;
            margin-bottom: 50px;
            .characteristic{
                color: #FFF;
                display: flex;
                gap: 12px;
                flex-direction: column;
                .value{
                    font-size: 24px;
                    font-weight: bold;
                }
                .detail{
                    font-size: 16px;
                }
            }
        }
        .propertyHighlights{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            width: 50vw;
            gap: 10px;
            margin-bottom: 60px;
            .highlight{
                background-color: #F2F2F2;
                width: fit-content;
                padding: 8px;
                border-radius: 4px;
            }
        }
        .ActionPanel{
            display: flex;
            gap: 50px;
            flex-wrap: wrap;
            margin-bottom: 30px;
            .mapBtn{
                display: flex;
                background-color: #2489FF;
                border: none;
                padding: 5px 20px 5px 5px;
                border-radius: 25px;
                align-items: center;
                gap: 20px;
                color: #FFF;
                font-size: 16px;
                div{
                    background-color: #FFF;
                    padding: 10px;
                    border-radius: 100%;
                }
            }
            .moreAboutObject{
                background: none;
                border: none;
                color: #FFF;
                font-size: 16px;
            }
        }
    }
}

.PhotosSection{
    padding: 50px 150px 0 150px;
    background-color: #FFFFFF;
    h3{
        font-weight: bolder;
        font-size: 36px;
        margin-top: 0px;
        margin-bottom: 30px;
    }
    .container-b{
       display: flex;
       flex-direction: column;
       gap: 20px;
       width: fit-content;
       margin: 0 auto;
       .container-m{
        display: flex;
        gap: 15px;
        .child{
            img{
                max-height: 615px;
            }
        }
        .container-s{
            display: flex;
            flex-direction: column;
            gap: 15px;
            .child{
                img{
                    max-height: 300px;
                }
            }
        }
       }
       .container-m-bottom {
        position: relative;  // устанавливаем относительное позиционирование
            .carouselOfText {
                position: absolute;  // carouselOfText будет позиционироваться относительно ближайшего элемента с позиционированием, отличным от static, в данном случае это container-m-bottom
                bottom: 0;  // прижимаем к нижнему краю
                left: 0;  // прижимаем к левому краю
            }
        }
    }

    .morePhotos{
        display: block;
        color: #35465E;
        font-size: 18px;
        width: fit-content;
        margin: 0 auto;
        background: none;
        border: 0;
        padding: 50px 0;
    }

    .textSlide{
        background-color: #FFF;
        width: 30vw;
        padding: 30px;
        border-radius: 5px 5px 5px 0;
        box-shadow: -10px 10px 5px 0px rgba(116, 116, 116, 0.1);
        .slideHeading{
            font-size: 24px;
            font-weight: bolder;
            margin-bottom: 30px;
            color: #35465E;
        }
        .slideDescription{
            font-size: 16px;
            color: #35465E;
            margin-bottom: 30px;
            line-height: 1.5;
        }
        .sliderButtons{
            display: flex;
            align-items: center;
            gap: 20px;
            color: #35465E;
            font-size: 16px;
            font-weight: bolder;

            button{
                background: none;
                border: 0;
            }
            
        }
    }
    //каруселька more Photos
    .photosSlider{
        position: fixed;
        top: 50%;      
        left: 50%;     
        transform: translate(-50%, -50%);
        width: fit-content;
        margin: 0 auto;
        display: flex; 
        align-items: center;
        justify-content: center;
        max-height: 700px;
        z-index: 10; 

        button{
            height: fit-content;
            background: none;
            border: 0;
            background-color: #a8a8a8;
            border-radius: 5px;
            max-width: 80px;
            display: flex;
            justify-content: center;
            padding: 15px;
        }
        img{
            max-height: 800px;
            margin-right: 40px;
            margin-left: 40px;
        }
    }
    .overlay {
        position: fixed;
        width: 100%;    /* Покрывает полную ширину экрана */
        height: 100%;   /* Покрывает полную высоту экрана */
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.7);  /* Полупрозрачный черный цвет */
        z-index: 9;  /* Ниже чем .photosSlider, но выше остального контента */
        .closeBtn{
            position: absolute;
            top: 10px;
            right: 50px;
            background: none;
            border: none;
        }
    }
}

.mapContainer{
    background-color: #FFFFFF;
    margin-bottom: 0;
    .objectLocated{
        color: #35465E;
        font-size: 26px;
        font-weight: bolder;
        margin-bottom: 15px;
        text-align: center;
    }
    .objectAdress{
        font-size: 18px;
        color: #35465E;
        text-align: center;
        margin-bottom: 50px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

footer{
    background-color: #3053B5;
    padding: 50px 0;
    div{
        display: flex;
        gap: 30px;
        width: fit-content;
        margin: 0 auto;
        .phoneNumber{
            color: #FFF;
            font-size: 24px;
        }
    }
}







@media (max-width: 1700px) {
    .PhotosSection{
        .container-b{
            .container-m{
            .child{
                img{
                    max-height: 515px; //615
                }
            }
            .container-s{
                .child{
                    img{
                        max-height: 250px; //300
                    }
                }
            }
            }
        }
    }
}

@media (max-width: 1400px) {
    .PhotosSection{
        .container-b{
            .container-m{
            .child{
                img{
                    max-height: 415px;
                }
            }
            .container-s{
                .child{
                    img{
                        max-height: 200px;
                    }
                }
            }
            }
        }
    }
}

@media (max-width: 1200px) {
    .PhotosSection{
        padding: 50px 80px 0 80px;
        .container-b{
            .container-m{
            .child{
                img{
                    max-height: 315px; //415
                }
            }
            .container-s{
                .child{
                    img{
                        max-height: 150px; //200
                    }
                }
            }
            }
        }
        .photosSlider{
            img{
                max-height: 700px;
            }
        }
    }

    header{
        padding: 80px 80px 0 80px;
        margin-bottom: 60px;
        div{
            gap: 10px;
            a{
                img{
                    width: 33px;
                    height: 33px;
                }
            }
        }
    }
    .HeroSection{
        .mainInfo {
            padding: 0 80px;
            h1{
                font-size: 44px;
            }
            .propertyHighlights{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                width: 80vw;
            }
        }
    }       
}

@media (max-width: 900px) {
    .PhotosSection{
        .container-b{
            .container-m{
            .child{
                img{
                    max-height: 280px; //415
                }
            }
            .container-s{
                .child{
                    img{
                        max-height: 130px; //200
                    }
                }
            }
            }
        }
        .photosSlider{
            img{
                max-height: 600px;
            }
        }
    }
}

@media (max-width: 800px) {
    .PhotosSection{
        .container-b{
            .container-m{
            .child{
                img{
                    max-height: 300px; //280
                }
            }
            .container-s{
                display: none;
            }
            }
        }
        .textSlide{
            // width: 45vw;
            width: 90%;
            box-sizing: border-box;
            .slideHeading{
                margin-bottom: 30px;
            }
            .slideDescription{
                margin-bottom: 30px;
            }
        }
        .photosSlider{
            img{
                max-height: 550px;
            }
            button{
                max-width: 80px;
                padding: 10px;
            }
        }
    }
    header{
        padding: 80px 80px 0 80px;
        margin-bottom: 30px;
    }
    .HeroSection{
        .mainInfo {
            padding: 0 80px;
            h1{
                font-size: 44px;
                max-width: 90vw;
            }
            .propertyDetails{
                display: flex;
                flex-wrap: wrap;
                gap: 30px;
                margin-bottom: 50px;
                .characteristic{
                    gap: 8px;
                }
            }
            .propertyHighlights{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                width: 80vw;
            }
        }
    }   
    .mapContainer{
        .objectLocated{
            font-size: 24px;
            margin-bottom: 15px;
        }
        .objectAdress{
            font-size: 16px;
            margin-bottom: 50px;
        }
    }    
}

@media (max-width: 700px) {
    .photosSlider{
        img{
            max-height: 480px !important;
            margin-right: 20px !important;
            margin-left: 20px !important;
        }
        button{
            max-width: 60px !important;
            padding: 0px;
        }
    }
    header{
        padding: 80px 30px 0 30px;
    }    
    .HeroSection{
        .mainInfo {
            padding: 0 30px;
            .propertyHighlights{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                width: 90vw;
            }
        }
    }
}

@media (max-width: 600px) {
    .PhotosSection{
        padding: 50px 30px 0 30px;
        .container-b{
            .container-m{
            .child{
                img{
                    max-height: 250px;
                }
            }
            }
        }
        .textSlide{
            width: 90%;
            box-sizing: border-box;
        }
        .photosSlider{
            img{
                max-height: 430px !important;
                margin-right: 8px !important;
                margin-left: 8px !important;
            }
            button{
                max-width: 45px !important;
                padding: 8px;
            }
        }
    }
    header{
        padding: 20px 30px 0 30px;
    }    
    .HeroSection{
        height: fit-content;
        .mainInfo {
            padding: 0 30px;
            .propertyHighlights{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                width: 90vw;
            }

            h1{
                font-size: 32px;
                max-width: 90vw;
                margin-bottom: 20px;
            }
            .propertyDetails{
                margin-bottom: 30px;
                .characteristic{
                    gap: 8px;
                }
            }
            
            .ActionPanel{
                flex-direction: column;
                width: fit-content;
                margin: 0 auto;
                gap: 20px;
            }
        }
    }
}